/* Підключення шрифтів */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap');

/* скидання стилів */

@import url("reset.css");

/* Основні стилі */

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7D7D7D;
}

.loft {
	padding: 10px 10px 10px 10px;
	background: #FFF9F4;
}

.loft p {
	max-width: 400px;
	margin: 0 auto;
	text-shadow: 2px 1px 3px #00d092;
}

.text {
	font-weight: 400;
	line-height: 1.46; 
}

.link {
	text-shadow: 2px 1px 3px #083fe4;
}

.hero {
	padding: 0px 10px 0px 10px;
	background-color: antiquewhite;
}

.production {
	max-width: 1169px;
	margin: 0 auto;
	font-size: 0;
	padding: 140px 0;
	overflow: auto;
}

.subtitle-orange {
	max-width: 183px;
	color: #D06B00;
	font-size: 28px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 13px;
}

.title {
	max-width: 526px;
	color: #0E333D;
	font-family: "DM Serif Text";
	font-size: 59px;
	font-weight: 400;
	line-height: 1.47;
	margin-bottom: 25px;
}

.production-text {
	display: inline-block;
	max-width: 526px;
	margin-right: 38px;
	margin-top: 21px;
}

.production-text p{
	color: #474747;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8; 
	max-width: 563px;
}

.photo-hero {
	display: inline-block;
	vertical-align: top;
	max-width: 568px;
}

.earrings-girl {
	margin-right: 22px;
}

.advantages {
	max-width: 692px;
	margin: 0 auto;
	padding-bottom: 140px;
}

.advantages h2 {
	margin-bottom: 12px;
}

.benefits-text {
	margin-bottom: 40px;
}

.desk-flower {
	margin-right: 29px;
}

.benefits {
	margin-bottom: 50px;
}

.benefits-box {
	font-size: 0;
}

.benefits-list {
	display: inline-block;
	max-width: 332px;
}

.benefits-list h2 {
	margin-bottom : 15px;
}

.list {
	font-size: 18px;
}

.list li:not(:last-child){
	margin-bottom: 35px;
}

.meeting {
	margin-bottom: 42px;
}

.subtitle {
	color: #37393F;
	font-family: Poppins;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.27;
}

.subtitle-blue {
	color: #6B77E5;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12px;
}

.subtitle-green {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 23.5px;
}

.office-meeting {
	margin-bottom: 37px;
}

.questions h2 {
	margin-bottom: 12px;
}

.basement {
	padding: 10px 10px 10px 10px;
	background: #FFF9F4;
}

.basement .link {
	margin-bottom: 20px;
}
